__pycache__

.idea

.ipynb_checkpoints

Backup_model/

*.pt
*.pth
*.sav
*.data
.env
**tmp**

.DS_Store
.prettierrc

build
*.egg-info

*_db.json

.vscode/

**/static/rs/
**/tmp/
alibaba.json
googlecloud.json
api.conf.json
amazon.json


mongo.dev.conf
mongo.prod.conf

emissions.csv

backend/xai_service/s2search

.yarn
*.bak