__pycache__
.idea
.ipynb_checkpoints

*.pt
*.pth
*.sav
*.data
.env
**tmp**

.DS_Store
.prettierrc

build
*.egg-info

*_db.json

.vscode/

**/static/rs/
**/tmp/
alibaba.json
googlecloud.json
api.conf.json
amazon.json
mongo.dev.conf
mongo.prod.conf
emissions.csv
